In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from vnstock import *

In [2]:
list=['AAM',
 'ACC',
 'ACG',
 'ADG',
 'ADS',
 'AGG',
 'ASP',
 'AST',
 'BAF',
 'BBC',
 'BCE',
 'BIC',
 'BMC',
 'BSI',
 'BTP',
 'BVH',
 'C32',
 'C47',
 'CCL',
 'CHP',
 'CIG',
 'CKG',
 'CLL',
 'CMV',
 'CMX',
 'CNG',
 'CSV',
 'CVT',
 'DAH',
 'DAT',
 'DBC',
 'DCL',
 'DCM',
 'DHA',
 'DIG',
 'DLG',
 'DPG',
 'DPM',
 'DPR',
 'DQC',
 'DRC',
 'DRH',
 'DRL',
 'DSN',
 'DTA',
 'DTT',
 'DVP',
 'DXG',
 'DXS',
 'EVE',
 'EVG',
 'FCM',
 'FCN',
 'FDC',
 'FIT',
 'FMC',
 'FPT',
 'FRT',
 'FTS',
 'GAS',
 'GDT',
 'GEG',
 'GEX',
 'GSP',
 'GVR',
 'HAS',
 'HBC',
 'HCD',
 'HCM',
 'HHS',
 'HID',
 'HII',
 'HPG',
 'HPX',
 'HRC',
 'HSG',
 'HTN',
 'HTV',
 'HU1',
 'HUB',
 'HVH',
 'ICT',
 'IDI',
 'ITC',
 'KDC',
 'KHG',
 'KHP',
 'KOS',
 'LAF',
 'LBM',
 'LCG',
 'LDG',
 'LGC',
 'LIX',
 'LM8',
 'MDG',
 'MHC',
 'NCT',
 'NHA',
 'NHT',
 'NKG',
 'NSC',
 'NT2',
 'NTL',
 'OGC',
 'OPC',
 'PAN',
 'PC1',
 'PDN',
 'PDR',
 'PGC',
 'PGV',
 'PJT',
 'PLX',
 'PMG',
 'PNC',
 'PSH',
 'PTB',
 'PVD',
 'PVP',
 'QBS',
 'QCG',
 'RAL',
 'S4A',
 'SAB',
 'SAM',
 'SAV',
 'SBA',
 'SBT',
 'SBV',
 'SC5',
 'SCR',
 'SCS',
 'SFC',
 'SGN',
 'SGR',
 'SHA',
 'SJD',
 'SJF',
 'SJS',
 'SKG',
 'SPM',
 'SRC',
 'SSC',
 'SVD',
 'SVI',
 'SZC',
 'TCO',
 'TCR',
 'TDG',
 'TDM',
 'TDP',
 'TDW',
 'TGG',
 'TIP',
 'TLD',
 'TLG',
 'TMT',
 'TNA',
 'TNH',
 'TPC',
 'TRC',
 'TTE',
 'TVS',
 'VCA',
 'VDS',
 'VHC',
 'VHM',
 'VID',
 'VIX',
 'VJC',
 'VNG',
 'VPD',
 'VRE',
 'VSH',
 'VSI',
 'VTB']

In [163]:
len(list)

177

In [14]:
dt=financial_flow(symbol="AAM", report_type='balancesheet', report_range='yearly')
dt.at['2022','asset']

219

In [15]:
df = []
for i in list:
    ba=financial_flow(symbol=i, report_type='balancesheet', report_range='yearly')
    x=ba.at['2022','asset']
    df.append(x)

In [16]:
df1=pd.DataFrame({
    'id': list,
    'asset': df
})

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      177 non-null    object
 1   asset   177 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.9+ KB

In [19]:
df1['phannhom']=pd.qcut(df1['asset'],2,['1','2'])
df1

      id  asset phannhom
0    AAM    219        1
1    ACC   2100        1
2    ACG   5467        2
3    ADG    410        1
4    ADS   2182        2
..   ...    ...      ...
172  VPD   2006        1
173  VRE  42701        2
174  VSH   9710        2
175  VSI    535        1
176  VTB    234        1

[177 rows x 3 columns]

In [22]:
data1=df1[df1['phannhom']=='1']
list1=data1['id'].tolist()
list1

['AAM',
 'ACC',
 'ADG',
 'AST',
 'BBC',
 'BCE',
 'BMC',
 'BTP',
 'C32',
 'C47',
 'CCL',
 'CIG',
 'CLL',
 'CMV',
 'CNG',
 'CSV',
 'DAH',
 'DAT',
 'DHA',
 'DQC',
 'DRL',
 'DSN',
 'DTA',
 'DTT',
 'DVP',
 'EVE',
 'FCM',
 'FDC',
 'GDT',
 'GSP',
 'HAS',
 'HCD',
 'HID',
 'HRC',
 'HTV',
 'HU1',
 'HUB',
 'HVH',
 'ICT',
 'LAF',
 'LBM',
 'LIX',
 'LM8',
 'MDG',
 'MHC',
 'NCT',
 'NHA',
 'NHT',
 'NSC',
 'NTL',
 'OPC',
 'PDN',
 'PJT',
 'PMG',
 'PNC',
 'QBS',
 'S4A',
 'SAV',
 'SBA',
 'SBV',
 'SCS',
 'SFC',
 'SGN',
 'SGR',
 'SHA',
 'SJD',
 'SJF',
 'SKG',
 'SPM',
 'SRC',
 'SSC',
 'SVD',
 'SVI',
 'TCO',
 'TCR',
 'TDG',
 'TDW',
 'TGG',
 'TIP',
 'TLD',
 'TNH',
 'TPC',
 'TRC',
 'TTE',
 'VCA',
 'VID',
 'VPD',
 'VSI',
 'VTB']

In [23]:
data2=df1[df1['phannhom']=='2']
list2=data2['id'].tolist()
list2

['ACG',
 'ADS',
 'AGG',
 'ASP',
 'BAF',
 'BIC',
 'BSI',
 'BVH',
 'CHP',
 'CKG',
 'CMX',
 'CVT',
 'DBC',
 'DCL',
 'DCM',
 'DIG',
 'DLG',
 'DPG',
 'DPM',
 'DPR',
 'DRC',
 'DRH',
 'DXG',
 'DXS',
 'EVG',
 'FCN',
 'FIT',
 'FMC',
 'FPT',
 'FRT',
 'FTS',
 'GAS',
 'GEG',
 'GEX',
 'GVR',
 'HBC',
 'HCM',
 'HHS',
 'HII',
 'HPG',
 'HPX',
 'HSG',
 'HTN',
 'IDI',
 'ITC',
 'KDC',
 'KHG',
 'KHP',
 'KOS',
 'LCG',
 'LDG',
 'LGC',
 'NKG',
 'NT2',
 'OGC',
 'PAN',
 'PC1',
 'PDR',
 'PGC',
 'PGV',
 'PLX',
 'PSH',
 'PTB',
 'PVD',
 'PVP',
 'QCG',
 'RAL',
 'SAB',
 'SAM',
 'SBT',
 'SC5',
 'SCR',
 'SJS',
 'SZC',
 'TDM',
 'TDP',
 'TLG',
 'TMT',
 'TNA',
 'TVS',
 'VDS',
 'VHC',
 'VHM',
 'VIX',
 'VJC',
 'VNG',
 'VRE',
 'VSH']

In [30]:
da1 = []
for i in list1:
    ba=financial_ratio(symbol=i, report_range='yearly', is_all=False)
    x=1/ba.at['priceToBook',2022]
    da1.append(x)

In [40]:
da1_df=pd.DataFrame({
    'id':list1,
    'bp':da1
})

In [41]:
da1_df['phannhom']=pd.qcut(da1_df['bp'],3,['SL','SM','SH'])
da1_df

     id        bp phannhom
0   AAM  2.000000       SH
1   ACC  1.000000       SM
2   ADG  0.588235       SL
3   AST  0.153846       SL
4   BBC  1.428571       SM
..  ...       ...      ...
84  VCA  1.111111       SM
85  VID  2.000000       SH
86  VPD  0.625000       SL
87  VSI  0.833333       SL
88  VTB  1.111111       SM

[89 rows x 3 columns]

In [49]:
sl=da1_df[da1_df['phannhom']=='SL'].id.tolist()
sm=da1_df[da1_df['phannhom']=='SM'].id.tolist()
sh=da1_df[da1_df['phannhom']=='SH'].id.tolist()

In [43]:
da2 = []
list_i=[]
for i in list2:
    try:
        ta=financial_ratio(symbol=i, report_range='yearly', is_all=False)
        x=1/ta.at['priceToBook',2022]
        list_i.append(i)
        da2.append(x)
    except Exception:
        continue

In [44]:
da2_df=pd.DataFrame({
    'id':list_i,
    'bp':da2
})

In [45]:
da2_df['phannhom']=pd.qcut(da2_df['bp'],3,['BL','BM','BH'])
da2_df

     id        bp phannhom
0   ADS  1.250000       BM
1   AGG  0.625000       BL
2   ASP  2.500000       BH
3   BAF  0.666667       BL
4   BIC  0.833333       BM
..  ...       ...      ...
82  VIX  2.000000       BH
83  VJC  0.250000       BL
84  VNG  1.250000       BM
85  VRE  0.555556       BL
86  VSH  0.714286       BL

[87 rows x 3 columns]

In [50]:
bl=da2_df[da2_df['phannhom']=='BL'].id.tolist()
bm=da2_df[da2_df['phannhom']=='BM'].id.tolist()
bh=da2_df[da2_df['phannhom']=='BH'].id.tolist()

In [54]:
# Lấy dữ liệu giá của từng cổ phiếu
dataframes = {}
for i in sl:
    dataframes[i] = stock_historical_data(symbol=i, start_date="2020-05-11", end_date='2023-03-31')  # Điều chỉnh ngày tùy ý

# Tính tỷ suất sinh lợi hàng ngày cho từng cổ phiếu
for i, df in dataframes.items():
    df[f'return_{i}'] = df['close'].pct_change()*100

# Kết hợp dữ liệu tỷ suất sinh lợi hàng ngày của tất cả cổ phiếu vào một dataframe
combined_df = pd.concat([df[f'return_{i}'] for i, df in dataframes.items()], axis=1)

In [58]:
dha=stock_historical_data(symbol='DHA', start_date="2020-05-11", end_date='2023-03-31')

In [59]:
combined_df['time']=dha['time']

In [62]:
combined_df= combined_df.iloc[1:]
combined_df

,return_ADG,return_AST,return_CIG,return_CLL,return_CNG,return_DHA,return_DRL,return_DSN,return_DVP,return_FDC,...,return_SFC,return_SGN,return_SKG,return_SRC,return_TDW,return_TNH,return_TTE,return_VPD,return_VSI,time
2,0.754258,2.546538,0.000000,-4.585153,0.000000,-3.430750,-2.906072,-0.409540,0.244002,6.960082,...,0.000000,0.131191,0.596659,-1.142473,0.000000,6.849315,0.0,0.718276,-0.802752,2020-05-13
3,0.676165,-0.709773,0.000000,7.002288,-0.236967,0.263158,0.213789,-1.862603,0.000000,6.698565,...,0.000000,0.000000,-0.237248,-2.379334,5.381605,0.615385,0.0,-2.139461,-3.468208,2020-05-14
4,-0.287839,-3.749749,0.000000,-0.684346,-0.712589,0.656168,0.000000,-0.838058,-0.527383,6.726457,...,0.000000,-1.244677,0.000000,-0.626741,-0.789229,3.160041,0.0,1.457490,-2.275449,2020-05-15
5,1.395237,-0.186149,1.666667,0.000000,1.275917,0.000000,0.773333,0.646284,-1.223491,6.722689,...,-0.464846,0.713101,-0.237812,1.822004,4.913430,-2.223320,0.0,0.718276,0.000000,2020-05-18
6,0.664294,2.230342,-6.557377,-0.344531,-1.023622,0.260756,-0.767399,0.617436,0.619323,6.692913,...,-6.304729,0.000000,1.787843,-0.550585,0.000000,-0.151592,0.0,0.000000,6.004902,2020-05-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,NaN,0.538600,2.812500,-0.172414,0.198807,0.144928,NaN,-5.794525,0.703916,NaN,...,NaN,NaN,2.742616,NaN,NaN,NaN,NaN,-0.194175,NaN,2023-03-27
723,NaN,-0.535714,-2.127660,-0.345423,1.289683,1.099855,NaN,2.169811,0.393185,NaN,...,NaN,NaN,-0.684463,NaN,NaN,NaN,NaN,6.614786,NaN,2023-03-28
724,NaN,0.538600,0.310559,3.812825,0.146915,-0.543945,NaN,0.886427,-2.806789,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,-2.919708,NaN,2023-03-29
725,NaN,NaN,2.786378,NaN,0.000000,0.805987,NaN,-0.512539,2.887844,NaN,...,NaN,NaN,0.689180,NaN,NaN,NaN,NaN,-2.255639,NaN,2023-03-30
726,NaN,NaN,0.903614,NaN,-2.151589,-1.884637,NaN,NaN,1.000870,NaN,...,NaN,NaN,-1.026694,NaN,NaN,NaN,NaN,-0.769231,NaN,2023-03-31

In [63]:
df_cleaned = combined_df.dropna(axis=1, how='any')
df_cleaned

,return_CIG,return_CNG,return_DHA,return_DVP,return_GDT,return_SCS,return_SKG,return_VPD,time
2,0.000000,0.000000,-3.430750,0.244002,0.000000,3.660566,0.596659,0.718276,2020-05-13
3,0.000000,-0.236967,0.263158,0.000000,0.000000,-0.421348,-0.237248,-2.139461,2020-05-14
4,0.000000,-0.712589,0.656168,-0.527383,-0.686213,0.000000,0.000000,1.457490,2020-05-15
5,1.666667,1.275917,0.000000,-1.223491,0.000000,-1.349990,-0.237812,0.718276,2020-05-18
6,-6.557377,-1.023622,0.260756,0.619323,3.015075,1.429739,1.787843,0.000000,2020-05-19
...,...,...,...,...,...,...,...,...,...
722,2.812500,0.198807,0.144928,0.703916,1.043997,-0.893277,2.742616,-0.194175,2023-03-27
723,-2.127660,1.289683,1.099855,0.393185,-0.369004,-0.901328,-0.684463,6.614786,2023-03-28
724,0.310559,0.146915,-0.543945,-2.806789,-0.333333,-1.531833,0.000000,-2.919708,2023-03-29
725,2.786378,0.000000,0.805987,2.887844,-0.520253,2.625182,0.689180,-2.255639,2023-03-30
726,0.903614,-2.151589,-1.884637,1.000870,-0.186776,-0.142113,-1.026694,-0.769231,2023-03-31

In [65]:
df_cleaned_d=df_cleaned.drop(columns=['time'])

In [66]:
columns_list = df_cleaned_d.columns.tolist()

In [68]:
# Giả sử trọng số cho từng cổ phiếu trong danh mục là như nhau
weights = [1/len(columns_list)] * len(columns_list)

# Tính tỷ suất sinh lợi bình quân của danh mục
df_cleaned['SL'] = df_cleaned_d.dot(weights)
df_cleaned

C:\Users\Windows\AppData\Local\Temp\ipykernel_15356\4172025500.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['SL'] = df_cleaned_d.dot(weights)

,return_CIG,return_CNG,return_DHA,return_DVP,return_GDT,return_SCS,return_SKG,return_VPD,time,portfolio_return,SL
2,0.000000,0.000000,-3.430750,0.244002,0.000000,3.660566,0.596659,0.718276,2020-05-13,0.223594,0.223594
3,0.000000,-0.236967,0.263158,0.000000,0.000000,-0.421348,-0.237248,-2.139461,2020-05-14,-0.346483,-0.346483
4,0.000000,-0.712589,0.656168,-0.527383,-0.686213,0.000000,0.000000,1.457490,2020-05-15,0.023434,0.023434
5,1.666667,1.275917,0.000000,-1.223491,0.000000,-1.349990,-0.237812,0.718276,2020-05-18,0.106196,0.106196
6,-6.557377,-1.023622,0.260756,0.619323,3.015075,1.429739,1.787843,0.000000,2020-05-19,-0.058533,-0.058533
...,...,...,...,...,...,...,...,...,...,...,...
722,2.812500,0.198807,0.144928,0.703916,1.043997,-0.893277,2.742616,-0.194175,2023-03-27,0.819914,0.819914
723,-2.127660,1.289683,1.099855,0.393185,-0.369004,-0.901328,-0.684463,6.614786,2023-03-28,0.664382,0.664382
724,0.310559,0.146915,-0.543945,-2.806789,-0.333333,-1.531833,0.000000,-2.919708,2023-03-29,-0.959767,-0.959767
725,2.786378,0.000000,0.805987,2.887844,-0.520253,2.625182,0.689180,-2.255639,2023-03-30,0.877335,0.877335
726,0.903614,-2.151589,-1.884637,1.000870,-0.186776,-0.142113,-1.026694,-0.769231,2023-03-31,-0.532069,-0.532069

In [78]:
SL=df_cleaned[['time','SL']]
SL

           time        SL
2    2020-05-13  0.223594
3    2020-05-14 -0.346483
4    2020-05-15  0.023434
5    2020-05-18  0.106196
6    2020-05-19 -0.058533
..          ...       ...
722  2023-03-27  0.819914
723  2023-03-28  0.664382
724  2023-03-29 -0.959767
725  2023-03-30  0.877335
726  2023-03-31 -0.532069

[725 rows x 2 columns]

In [69]:
# Lấy dữ liệu giá của từng cổ phiếu
dataframes = {}
for i in sm:
    dataframes[i] = stock_historical_data(symbol=i, start_date="2020-05-11", end_date='2023-03-31')  # Điều chỉnh ngày tùy ý

# Tính tỷ suất sinh lợi hàng ngày cho từng cổ phiếu
for i, df in dataframes.items():
    df[f'return_{i}'] = df['close'].pct_change()*100

# Kết hợp dữ liệu tỷ suất sinh lợi hàng ngày của tất cả cổ phiếu vào một dataframe
combined_df_sm = pd.concat([df[f'return_{i}'] for i, df in dataframes.items()], axis=1)

In [70]:
combined_df_sm

,return_ACC,return_BBC,return_BCE,return_BMC,return_BTP,return_CMV,return_CSV,return_DAT,return_DTT,return_EVE,...,return_SAV,return_SBV,return_SGR,return_SJD,return_SSC,return_SVI,return_TIP,return_TRC,return_VCA,return_VTB
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.808989,-2.503129,0.000000,6.686332,2.936242,0.000000,2.880401,0.0,0.0,1.192053,...,4.318182,0.141443,-3.258845,0.000000,6.551410,0.0,4.846416,0.000000,-1.797176,0.000000
2,-0.546448,0.924262,0.343053,-6.728111,-0.977995,6.718346,-0.182593,0.0,0.0,3.926702,...,6.753813,-0.141243,3.368624,-1.188707,-5.081127,0.0,-0.976562,-0.366898,0.915033,1.029601
3,0.000000,-0.228949,-0.341880,-3.458498,-0.987654,-7.021792,0.731707,0.0,0.0,4.282116,...,0.408163,-0.424328,0.000000,0.601504,1.844354,0.0,-2.564103,-2.168576,-0.906736,-2.929936
4,-0.549451,2.320245,-3.259005,4.810645,-2.244389,1.171875,2.300242,0.0,0.0,1.811594,...,4.065041,0.000000,0.000000,0.000000,0.000000,0.0,-1.147099,-0.376412,0.000000,4.986877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,1.465201,NaN,1.818182,-0.411862,NaN,NaN,-0.195848,NaN,NaN,-2.439024,...,0.000000,-0.970874,-0.314815,0.671141,NaN,NaN,0.299760,NaN,NaN,NaN
723,-0.722022,NaN,-2.678571,0.000000,NaN,NaN,0.000000,NaN,NaN,7.121212,...,0.000000,0.000000,-1.541891,-0.333333,NaN,NaN,1.195457,NaN,NaN,NaN
724,-0.363636,NaN,0.917431,1.157982,NaN,NaN,0.745683,NaN,NaN,1.343706,...,-2.296965,0.000000,-0.314465,0.334448,NaN,NaN,-0.590667,NaN,NaN,NaN
725,0.364964,NaN,0.000000,0.817661,NaN,NaN,-0.740164,NaN,NaN,1.953943,...,NaN,0.000000,-0.315457,-0.666667,NaN,NaN,1.426025,NaN,NaN,NaN
726,-0.363636,NaN,1.272727,-1.216545,NaN,NaN,-0.156986,NaN,NaN,-1.574264,...,NaN,-0.490196,1.265823,0.335570,NaN,NaN,1.464558,NaN,NaN,NaN

In [71]:
BMC=stock_historical_data(symbol='BMC', start_date="2020-05-11", end_date='2023-03-31')

In [72]:
combined_df_sm['time']=BMC['time']

In [73]:
combined_df_sm= combined_df_sm.iloc[1:]
combined_df_sm

,return_ACC,return_BBC,return_BCE,return_BMC,return_BTP,return_CMV,return_CSV,return_DAT,return_DTT,return_EVE,...,return_SBV,return_SGR,return_SJD,return_SSC,return_SVI,return_TIP,return_TRC,return_VCA,return_VTB,time
1,2.808989,-2.503129,0.000000,6.686332,2.936242,0.000000,2.880401,0.0,0.0,1.192053,...,0.141443,-3.258845,0.000000,6.551410,0.000000,4.846416,0.000000,-1.797176,0.000000,2020-05-12
2,-0.546448,0.924262,0.343053,-6.728111,-0.977995,6.718346,-0.182593,0.0,0.0,3.926702,...,-0.141243,3.368624,-1.188707,-5.081127,0.000000,-0.976562,-0.366898,0.915033,1.029601,2020-05-13
3,0.000000,-0.228949,-0.341880,-3.458498,-0.987654,-7.021792,0.731707,0.0,0.0,4.282116,...,-0.424328,0.000000,0.601504,1.844354,0.000000,-2.564103,-2.168576,-0.906736,-2.929936,2020-05-14
4,-0.549451,2.320245,-3.259005,4.810645,-2.244389,1.171875,2.300242,0.0,0.0,1.811594,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.147099,-0.376412,0.000000,4.986877,2020-05-15
5,-2.946593,-2.043359,0.000000,-0.683594,0.680272,7.078507,0.887574,0.0,0.0,2.491103,...,-0.426136,-6.424581,0.000000,1.634276,6.917321,-0.477816,0.587741,0.000000,-4.750000,2020-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,1.465201,NaN,1.818182,-0.411862,NaN,NaN,-0.195848,NaN,NaN,-2.439024,...,-0.970874,-0.314815,0.671141,NaN,NaN,0.299760,NaN,NaN,NaN,2023-03-27
723,-0.722022,NaN,-2.678571,0.000000,NaN,NaN,0.000000,NaN,NaN,7.121212,...,0.000000,-1.541891,-0.333333,NaN,NaN,1.195457,NaN,NaN,NaN,2023-03-28
724,-0.363636,NaN,0.917431,1.157982,NaN,NaN,0.745683,NaN,NaN,1.343706,...,0.000000,-0.314465,0.334448,NaN,NaN,-0.590667,NaN,NaN,NaN,2023-03-29
725,0.364964,NaN,0.000000,0.817661,NaN,NaN,-0.740164,NaN,NaN,1.953943,...,0.000000,-0.315457,-0.666667,NaN,NaN,1.426025,NaN,NaN,NaN,2023-03-30
726,-0.363636,NaN,1.272727,-1.216545,NaN,NaN,-0.156986,NaN,NaN,-1.574264,...,-0.490196,1.265823,0.335570,NaN,NaN,1.464558,NaN,NaN,NaN,2023-03-31

In [74]:
df_cleaned_sm = combined_df_sm.dropna(axis=1, how='any')
df_cleaned_sm

,return_ACC,return_BCE,return_BMC,return_CSV,return_EVE,return_GSP,return_NTL,return_SBV,return_SGR,return_SJD,return_TIP,time
1,2.808989,0.000000,6.686332,2.880401,1.192053,2.537313,2.871870,0.141443,-3.258845,0.000000,4.846416,2020-05-12
2,-0.546448,0.343053,-6.728111,-0.182593,3.926702,-1.018923,2.863278,-0.141243,3.368624,-1.188707,-0.976562,2020-05-13
3,0.000000,-0.341880,-3.458498,0.731707,4.282116,0.441176,-1.391788,-0.424328,0.000000,0.601504,-2.564103,2020-05-14
4,-0.549451,-3.259005,4.810645,2.300242,1.811594,-1.464129,-1.693719,0.000000,0.000000,0.000000,-1.147099,2020-05-15
5,-2.946593,0.000000,-0.683594,0.887574,2.491103,2.080238,0.000000,-0.426136,-6.424581,0.000000,-0.477816,2020-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...
722,1.465201,1.818182,-0.411862,-0.195848,-2.439024,0.906344,1.179941,-0.970874,-0.314815,0.671141,0.299760,2023-03-27
723,-0.722022,-2.678571,0.000000,0.000000,7.121212,-1.896208,0.291545,0.000000,-1.541891,-0.333333,1.195457,2023-03-28
724,-0.363636,0.917431,1.157982,0.745683,1.343706,-0.915565,-1.162791,0.000000,-0.314465,0.334448,-0.590667,2023-03-29
725,0.364964,0.000000,0.817661,-0.740164,1.953943,0.000000,0.000000,0.000000,-0.315457,-0.666667,1.426025,2023-03-30
726,-0.363636,1.272727,-1.216545,-0.156986,-1.574264,-0.410678,1.470588,-0.490196,1.265823,0.335570,1.464558,2023-03-31

In [75]:
df_cleaned_d_sm=df_cleaned_sm.drop(columns=['time'])

In [76]:
columns_list_sm = df_cleaned_d_sm.columns.tolist()

In [77]:
# Giả sử trọng số cho từng cổ phiếu trong danh mục là như nhau
weights = [1/len(columns_list_sm)] * len(columns_list_sm)

# Tính tỷ suất sinh lợi bình quân của danh mục
df_cleaned_sm['SM'] = df_cleaned_d_sm.dot(weights)
df_cleaned_sm

C:\Users\Windows\AppData\Local\Temp\ipykernel_15356\3016224614.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_sm['SM'] = df_cleaned_d_sm.dot(weights)

,return_ACC,return_BCE,return_BMC,return_CSV,return_EVE,return_GSP,return_NTL,return_SBV,return_SGR,return_SJD,return_TIP,time,SM
1,2.808989,0.000000,6.686332,2.880401,1.192053,2.537313,2.871870,0.141443,-3.258845,0.000000,4.846416,2020-05-12,1.882361
2,-0.546448,0.343053,-6.728111,-0.182593,3.926702,-1.018923,2.863278,-0.141243,3.368624,-1.188707,-0.976562,2020-05-13,-0.025539
3,0.000000,-0.341880,-3.458498,0.731707,4.282116,0.441176,-1.391788,-0.424328,0.000000,0.601504,-2.564103,2020-05-14,-0.193099
4,-0.549451,-3.259005,4.810645,2.300242,1.811594,-1.464129,-1.693719,0.000000,0.000000,0.000000,-1.147099,2020-05-15,0.073553
5,-2.946593,0.000000,-0.683594,0.887574,2.491103,2.080238,0.000000,-0.426136,-6.424581,0.000000,-0.477816,2020-05-18,-0.499982
...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,1.465201,1.818182,-0.411862,-0.195848,-2.439024,0.906344,1.179941,-0.970874,-0.314815,0.671141,0.299760,2023-03-27,0.182559
723,-0.722022,-2.678571,0.000000,0.000000,7.121212,-1.896208,0.291545,0.000000,-1.541891,-0.333333,1.195457,2023-03-28,0.130563
724,-0.363636,0.917431,1.157982,0.745683,1.343706,-0.915565,-1.162791,0.000000,-0.314465,0.334448,-0.590667,2023-03-29,0.104739
725,0.364964,0.000000,0.817661,-0.740164,1.953943,0.000000,0.000000,0.000000,-0.315457,-0.666667,1.426025,2023-03-30,0.258210
726,-0.363636,1.272727,-1.216545,-0.156986,-1.574264,-0.410678,1.470588,-0.490196,1.265823,0.335570,1.464558,2023-03-31,0.145178

In [79]:
SM=df_cleaned_sm[['time','SM']]

In [80]:
SM

           time        SM
1    2020-05-12  1.882361
2    2020-05-13 -0.025539
3    2020-05-14 -0.193099
4    2020-05-15  0.073553
5    2020-05-18 -0.499982
..          ...       ...
722  2023-03-27  0.182559
723  2023-03-28  0.130563
724  2023-03-29  0.104739
725  2023-03-30  0.258210
726  2023-03-31  0.145178

[726 rows x 2 columns]

In [81]:
# Lấy dữ liệu giá của từng cổ phiếu
dataframes = {}
for i in sh:
    dataframes[i] = stock_historical_data(symbol=i, start_date="2020-05-11", end_date='2023-03-31')  # Điều chỉnh ngày tùy ý

# Tính tỷ suất sinh lợi hàng ngày cho từng cổ phiếu
for i, df in dataframes.items():
    df[f'return_{i}'] = df['close'].pct_change()*100

# Kết hợp dữ liệu tỷ suất sinh lợi hàng ngày của tất cả cổ phiếu vào một dataframe
combined_df_sh = pd.concat([df[f'return_{i}'] for i, df in dataframes.items()], axis=1)

In [82]:
combined_df_sh

,return_AAM,return_C32,return_C47,return_CCL,return_DAH,return_DQC,return_DTA,return_FCM,return_HAS,return_HCD,...,return_SJF,return_SPM,return_SVD,return_TCO,return_TCR,return_TDG,return_TGG,return_TLD,return_TPC,return_VID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.364964,0.000000,-3.270224,-0.528169,-2.291667,-0.828893,4.081633,0.397614,2.846975,-1.606426,...,3.092784,-6.899903,6.826707,-6.460296,6.489676,-0.617284,0.000000,6.955302,-0.143678,-0.793651
2,0.000000,-1.795143,6.761566,2.300885,0.213220,-4.835821,-6.971678,-1.584158,0.000000,-4.489796,...,1.450000,5.949896,6.952247,0.000000,-6.925208,-2.484472,0.000000,6.015742,5.755396,-1.200000
3,0.909091,-1.666667,7.000000,-2.768166,6.382979,0.000000,3.747073,0.000000,0.000000,1.709402,...,-3.400690,1.871921,-5.055811,-6.906475,6.547619,0.000000,5.952381,-6.929468,-6.938776,-5.263158
4,0.810811,-2.077638,5.451713,-1.067616,7.000000,0.000000,-2.257336,-1.207243,0.000000,-0.840336,...,-6.632653,-6.382979,-6.846473,-6.800618,-6.983240,-0.636943,-2.247191,1.348528,-6.725146,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.454545,0.557414,-2.373418,0.386847,0.000000,0.000000,-3.092784,0.000000,NaN,-0.189394,...,0.000000,NaN,NaN,2.075227,NaN,2.052786,7.440476,-0.649351,NaN,-1.886792
723,-3.438914,0.776053,0.972447,0.578035,0.000000,0.000000,9.148936,-0.243902,NaN,-0.189753,...,0.000000,NaN,NaN,-0.254130,NaN,-1.436782,6.925208,1.633987,NaN,-2.307692
724,-2.155576,0.770077,0.321027,-0.383142,1.904762,1.388889,-4.873294,-1.222494,NaN,-1.330798,...,0.335570,NaN,NaN,-1.273885,NaN,0.291545,6.994819,-0.643087,NaN,NaN
725,11.111111,0.272926,-0.480000,0.000000,-1.635514,1.369863,NaN,0.247525,NaN,-1.348748,...,0.334448,NaN,NaN,-1.935484,NaN,-1.744186,6.779661,-0.647249,NaN,NaN
726,NaN,0.000000,-0.160772,-0.192308,0.000000,-1.081081,NaN,0.000000,NaN,1.171875,...,0.000000,NaN,NaN,0.131579,NaN,0.000000,6.802721,-2.280130,NaN,NaN

In [83]:
DQC=stock_historical_data(symbol='DQC', start_date="2020-05-11", end_date='2023-03-31')

In [84]:
combined_df_sh['time']=DQC['time']

In [85]:
combined_df_sh= combined_df_sh.iloc[1:]
combined_df_sh

,return_AAM,return_C32,return_C47,return_CCL,return_DAH,return_DQC,return_DTA,return_FCM,return_HAS,return_HCD,...,return_SPM,return_SVD,return_TCO,return_TCR,return_TDG,return_TGG,return_TLD,return_TPC,return_VID,time
1,0.364964,0.000000,-3.270224,-0.528169,-2.291667,-0.828893,4.081633,0.397614,2.846975,-1.606426,...,-6.899903,6.826707,-6.460296,6.489676,-0.617284,0.000000,6.955302,-0.143678,-0.793651,2020-05-12
2,0.000000,-1.795143,6.761566,2.300885,0.213220,-4.835821,-6.971678,-1.584158,0.000000,-4.489796,...,5.949896,6.952247,0.000000,-6.925208,-2.484472,0.000000,6.015742,5.755396,-1.200000,2020-05-13
3,0.909091,-1.666667,7.000000,-2.768166,6.382979,0.000000,3.747073,0.000000,0.000000,1.709402,...,1.871921,-5.055811,-6.906475,6.547619,0.000000,5.952381,-6.929468,-6.938776,-5.263158,2020-05-14
4,0.810811,-2.077638,5.451713,-1.067616,7.000000,0.000000,-2.257336,-1.207243,0.000000,-0.840336,...,-6.382979,-6.846473,-6.800618,-6.983240,-0.636943,-2.247191,1.348528,-6.725146,0.000000,2020-05-15
5,-3.395889,5.080960,0.443131,-1.618705,6.542056,-0.313676,-1.847575,2.036660,6.920415,-0.847458,...,6.818182,0.668151,6.799337,-6.906907,2.564103,1.149425,0.168666,1.097179,5.982906,2020-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.454545,0.557414,-2.373418,0.386847,0.000000,0.000000,-3.092784,0.000000,NaN,-0.189394,...,NaN,NaN,2.075227,NaN,2.052786,7.440476,-0.649351,NaN,-1.886792,2023-03-27
723,-3.438914,0.776053,0.972447,0.578035,0.000000,0.000000,9.148936,-0.243902,NaN,-0.189753,...,NaN,NaN,-0.254130,NaN,-1.436782,6.925208,1.633987,NaN,-2.307692,2023-03-28
724,-2.155576,0.770077,0.321027,-0.383142,1.904762,1.388889,-4.873294,-1.222494,NaN,-1.330798,...,NaN,NaN,-1.273885,NaN,0.291545,6.994819,-0.643087,NaN,NaN,2023-03-29
725,11.111111,0.272926,-0.480000,0.000000,-1.635514,1.369863,NaN,0.247525,NaN,-1.348748,...,NaN,NaN,-1.935484,NaN,-1.744186,6.779661,-0.647249,NaN,NaN,2023-03-30
726,NaN,0.000000,-0.160772,-0.192308,0.000000,-1.081081,NaN,0.000000,NaN,1.171875,...,NaN,NaN,0.131579,NaN,0.000000,6.802721,-2.280130,NaN,NaN,2023-03-31

In [86]:
df_cleaned_sh = combined_df_sh.dropna(axis=1, how='any')
df_cleaned_sh

,return_C32,return_C47,return_CCL,return_DAH,return_DQC,return_FCM,return_HCD,return_HID,return_HVH,return_MHC,return_SHA,return_SJF,return_TCO,return_TDG,return_TGG,return_TLD,time
1,0.000000,-3.270224,-0.528169,-2.291667,-0.828893,0.397614,-1.606426,1.652893,7.052441,2.723735,2.539683,3.092784,-6.460296,-0.617284,0.000000,6.955302,2020-05-12
2,-1.795143,6.761566,2.300885,0.213220,-4.835821,-1.584158,-4.489796,-0.406504,6.587838,-3.030303,0.000000,1.450000,0.000000,-2.484472,0.000000,6.015742,2020-05-13
3,-1.666667,7.000000,-2.768166,6.382979,0.000000,0.000000,1.709402,2.448980,-0.316957,1.562500,0.000000,-3.400690,-6.906475,0.000000,5.952381,-6.929468,2020-05-14
4,-2.077638,5.451713,-1.067616,7.000000,0.000000,-1.207243,-0.840336,-0.398406,-6.518283,0.000000,0.000000,-6.632653,-6.800618,-0.636943,-2.247191,1.348528,2020-05-15
5,5.080960,0.443131,-1.618705,6.542056,-0.313676,2.036660,-0.847458,0.000000,2.891156,0.000000,-1.238390,6.557377,6.799337,2.564103,1.149425,0.168666,2020-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.557414,-2.373418,0.386847,0.000000,0.000000,0.000000,-0.189394,-0.684932,-0.709220,-5.989583,-0.761421,0.000000,2.075227,2.052786,7.440476,-0.649351,2023-03-27
723,0.776053,0.972447,0.578035,0.000000,0.000000,-0.243902,-0.189753,0.344828,3.035714,5.263158,2.301790,0.000000,-0.254130,-1.436782,6.925208,1.633987,2023-03-28
724,0.770077,0.321027,-0.383142,1.904762,1.388889,-1.222494,-1.330798,-0.687285,0.346620,-4.210526,-2.250000,0.335570,-1.273885,0.291545,6.994819,-0.643087,2023-03-29
725,0.272926,-0.480000,0.000000,-1.635514,1.369863,0.247525,-1.348748,0.000000,0.172712,0.274725,0.511509,0.334448,-1.935484,-1.744186,6.779661,-0.647249,2023-03-30
726,0.000000,-0.160772,-0.192308,0.000000,-1.081081,0.000000,1.171875,-1.038062,-1.206897,1.369863,-0.763359,0.000000,0.131579,0.000000,6.802721,-2.280130,2023-03-31

In [87]:
df_cleaned_d_sh=df_cleaned_sh.drop(columns=['time'])

In [88]:
columns_list_sh = df_cleaned_d_sh.columns.tolist()

In [89]:
weights = [1/len(columns_list_sh)] * len(columns_list_sh)

# Tính tỷ suất sinh lợi bình quân của danh mục
df_cleaned_sh['SH'] = df_cleaned_d_sh.dot(weights)
df_cleaned_sh

C:\Users\Windows\AppData\Local\Temp\ipykernel_15356\122884405.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_sh['SH'] = df_cleaned_d_sh.dot(weights)

,return_C32,return_C47,return_CCL,return_DAH,return_DQC,return_FCM,return_HCD,return_HID,return_HVH,return_MHC,return_SHA,return_SJF,return_TCO,return_TDG,return_TGG,return_TLD,time,SH
1,0.000000,-3.270224,-0.528169,-2.291667,-0.828893,0.397614,-1.606426,1.652893,7.052441,2.723735,2.539683,3.092784,-6.460296,-0.617284,0.000000,6.955302,2020-05-12,0.550718
2,-1.795143,6.761566,2.300885,0.213220,-4.835821,-1.584158,-4.489796,-0.406504,6.587838,-3.030303,0.000000,1.450000,0.000000,-2.484472,0.000000,6.015742,2020-05-13,0.293941
3,-1.666667,7.000000,-2.768166,6.382979,0.000000,0.000000,1.709402,2.448980,-0.316957,1.562500,0.000000,-3.400690,-6.906475,0.000000,5.952381,-6.929468,2020-05-14,0.191739
4,-2.077638,5.451713,-1.067616,7.000000,0.000000,-1.207243,-0.840336,-0.398406,-6.518283,0.000000,0.000000,-6.632653,-6.800618,-0.636943,-2.247191,1.348528,2020-05-15,-0.914168
5,5.080960,0.443131,-1.618705,6.542056,-0.313676,2.036660,-0.847458,0.000000,2.891156,0.000000,-1.238390,6.557377,6.799337,2.564103,1.149425,0.168666,2020-05-18,1.888415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.557414,-2.373418,0.386847,0.000000,0.000000,0.000000,-0.189394,-0.684932,-0.709220,-5.989583,-0.761421,0.000000,2.075227,2.052786,7.440476,-0.649351,2023-03-27,0.072214
723,0.776053,0.972447,0.578035,0.000000,0.000000,-0.243902,-0.189753,0.344828,3.035714,5.263158,2.301790,0.000000,-0.254130,-1.436782,6.925208,1.633987,2023-03-28,1.231666
724,0.770077,0.321027,-0.383142,1.904762,1.388889,-1.222494,-1.330798,-0.687285,0.346620,-4.210526,-2.250000,0.335570,-1.273885,0.291545,6.994819,-0.643087,2023-03-29,0.022006
725,0.272926,-0.480000,0.000000,-1.635514,1.369863,0.247525,-1.348748,0.000000,0.172712,0.274725,0.511509,0.334448,-1.935484,-1.744186,6.779661,-0.647249,2023-03-30,0.135762
726,0.000000,-0.160772,-0.192308,0.000000,-1.081081,0.000000,1.171875,-1.038062,-1.206897,1.369863,-0.763359,0.000000,0.131579,0.000000,6.802721,-2.280130,2023-03-31,0.172089

In [90]:
SH=df_cleaned_sh[['time','SH']]

In [91]:
dataframes = {}
for i in bl:
    dataframes[i] = stock_historical_data(symbol=i, start_date="2020-05-11", end_date='2023-03-31')  # Điều chỉnh ngày tùy ý

# Tính tỷ suất sinh lợi hàng ngày cho từng cổ phiếu
for i, df in dataframes.items():
    df[f'return_{i}'] = df['close'].pct_change()*100

# Kết hợp dữ liệu tỷ suất sinh lợi hàng ngày của tất cả cổ phiếu vào một dataframe
combined_df_bl = pd.concat([df[f'return_{i}'] for i, df in dataframes.items()], axis=1)

In [92]:
combined_df_bl

,return_AGG,return_BAF,return_BVH,return_CHP,return_CKG,return_CVT,return_DCL,return_FPT,return_FRT,return_GAS,...,return_SZC,return_TDM,return_TDP,return_TLG,return_TVS,return_VHC,return_VHM,return_VJC,return_VRE,return_VSH
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.000000,6.901840,3.418414,0.000000,0.563910,2.033003,-0.487805,0.787402,0.000000,0.268223,...,2.031144,0.975081,0.0,0.883652,-1.875000,2.001357,0.000000,-1.011804,-0.785855,0.654879
2,-0.343446,6.814921,1.410313,0.539291,0.000000,-1.707854,-0.490196,6.212798,6.887299,-1.085759,...,-1.990710,0.912017,0.0,1.897810,-0.955414,-2.095111,-2.859779,-2.129472,-2.970297,0.000000
3,0.000000,6.917394,-1.586267,0.000000,-1.308411,2.316704,5.665025,-1.330998,3.514644,-1.240853,...,-4.468517,-0.212653,0.0,-1.002865,0.964630,-1.834239,-1.120608,-0.783290,-1.836735,-1.951854
4,0.172315,7.035176,-2.914551,0.000000,0.568182,-1.132124,-1.165501,-1.419950,-4.042037,-0.837629,...,-1.133948,-1.917954,0.0,-3.509407,0.000000,0.761246,1.402228,0.000000,0.207900,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.359066,NaN,-0.103413,1.456311,-0.900901,NaN,-4.166667,0.749625,-0.160456,0.091333,...,2.468085,-1.345895,NaN,1.440678,0.000000,-1.633394,-1.322482,0.661626,-0.850340,-0.509915
723,0.178891,NaN,0.517598,-0.217486,2.045455,NaN,0.434783,-0.119048,0.160714,1.672919,...,-1.038206,-0.272851,NaN,-0.104428,1.632010,0.000000,-1.030928,-0.093897,-0.343053,0.654897
724,-0.178571,NaN,-0.514933,0.000000,-0.445434,NaN,-0.865801,-0.119190,-2.620788,-0.967292,...,0.377675,0.683995,NaN,-0.501777,-5.635811,-1.660517,-1.041667,-1.691729,0.344234,-0.141443
725,1.073345,NaN,0.207039,-0.784656,-0.671141,NaN,-0.873362,0.238663,-2.526547,-0.191320,...,-0.710702,-0.543478,NaN,0.399244,-0.919842,0.375235,4.842105,1.912046,2.915952,0.538244
726,-0.884956,NaN,0.206612,1.230228,0.225225,NaN,0.881057,0.133929,-0.488355,-0.686037,...,5.768421,0.956284,NaN,0.104646,5.039788,0.186916,3.012048,-0.656660,-1.333333,2.620456

In [93]:
FPT=stock_historical_data(symbol='FPT', start_date="2020-05-11", end_date='2023-03-31')

In [94]:
combined_df_bl['time']=FPT['time']

In [95]:
combined_df_bl= combined_df_bl.iloc[1:]
combined_df_bl

,return_AGG,return_BAF,return_BVH,return_CHP,return_CKG,return_CVT,return_DCL,return_FPT,return_FRT,return_GAS,...,return_TDM,return_TDP,return_TLG,return_TVS,return_VHC,return_VHM,return_VJC,return_VRE,return_VSH,time
1,0.000000,6.901840,3.418414,0.000000,0.563910,2.033003,-0.487805,0.787402,0.000000,0.268223,...,0.975081,0.0,0.883652,-1.875000,2.001357,0.000000,-1.011804,-0.785855,0.654879,2020-05-12
2,-0.343446,6.814921,1.410313,0.539291,0.000000,-1.707854,-0.490196,6.212798,6.887299,-1.085759,...,0.912017,0.0,1.897810,-0.955414,-2.095111,-2.859779,-2.129472,-2.970297,0.000000,2020-05-13
3,0.000000,6.917394,-1.586267,0.000000,-1.308411,2.316704,5.665025,-1.330998,3.514644,-1.240853,...,-0.212653,0.0,-1.002865,0.964630,-1.834239,-1.120608,-0.783290,-1.836735,-1.951854,2020-05-14
4,0.172315,7.035176,-2.914551,0.000000,0.568182,-1.132124,-1.165501,-1.419950,-4.042037,-0.837629,...,-1.917954,0.0,-3.509407,0.000000,0.761246,1.402228,0.000000,0.207900,0.000000,2020-05-15
5,0.000000,6.866197,1.137139,3.065134,0.000000,-0.286272,-2.594340,0.756212,0.673968,3.654971,...,-0.706138,0.0,-1.199850,-1.433121,0.000000,0.435689,0.000000,1.867220,0.265428,2020-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.359066,NaN,-0.103413,1.456311,-0.900901,NaN,-4.166667,0.749625,-0.160456,0.091333,...,-1.345895,NaN,1.440678,0.000000,-1.633394,-1.322482,0.661626,-0.850340,-0.509915,2023-03-27
723,0.178891,NaN,0.517598,-0.217486,2.045455,NaN,0.434783,-0.119048,0.160714,1.672919,...,-0.272851,NaN,-0.104428,1.632010,0.000000,-1.030928,-0.093897,-0.343053,0.654897,2023-03-28
724,-0.178571,NaN,-0.514933,0.000000,-0.445434,NaN,-0.865801,-0.119190,-2.620788,-0.967292,...,0.683995,NaN,-0.501777,-5.635811,-1.660517,-1.041667,-1.691729,0.344234,-0.141443,2023-03-29
725,1.073345,NaN,0.207039,-0.784656,-0.671141,NaN,-0.873362,0.238663,-2.526547,-0.191320,...,-0.543478,NaN,0.399244,-0.919842,0.375235,4.842105,1.912046,2.915952,0.538244,2023-03-30
726,-0.884956,NaN,0.206612,1.230228,0.225225,NaN,0.881057,0.133929,-0.488355,-0.686037,...,0.956284,NaN,0.104646,5.039788,0.186916,3.012048,-0.656660,-1.333333,2.620456,2023-03-31

In [96]:
df_cleaned_bl = combined_df_bl.dropna(axis=1, how='any')
df_cleaned_bl

,return_AGG,return_BVH,return_CHP,return_CKG,return_DCL,return_FPT,return_FRT,return_GAS,return_HBC,return_KDC,...,return_SZC,return_TDM,return_TLG,return_TVS,return_VHC,return_VHM,return_VJC,return_VRE,return_VSH,time
1,0.000000,3.418414,0.000000,0.563910,-0.487805,0.787402,0.000000,0.268223,2.670623,1.187264,...,2.031144,0.975081,0.883652,-1.875000,2.001357,0.000000,-1.011804,-0.785855,0.654879,2020-05-12
2,-0.343446,1.410313,0.539291,0.000000,-0.490196,6.212798,6.887299,-1.085759,7.080925,3.680000,...,-1.990710,0.912017,1.897810,-0.955414,-2.095111,-2.859779,-2.129472,-2.970297,0.000000,2020-05-13
3,0.000000,-1.586267,0.000000,-1.308411,5.665025,-1.330998,3.514644,-1.240853,2.564103,0.000000,...,-4.468517,-0.212653,-1.002865,0.964630,-1.834239,-1.120608,-0.783290,-1.836735,-1.951854,2020-05-14
4,0.172315,-2.914551,0.000000,0.568182,-1.165501,-1.419950,-4.042037,-0.837629,-3.815789,0.462963,...,-1.133948,-1.917954,-3.509407,0.000000,0.761246,1.402228,0.000000,0.207900,0.000000,2020-05-15
5,0.000000,1.137139,3.065134,0.000000,-2.594340,0.756212,0.673968,3.654971,1.367989,6.861239,...,3.584229,-0.706138,-1.199850,-1.433121,0.000000,0.435689,0.000000,1.867220,0.265428,2020-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.359066,-0.103413,1.456311,-0.900901,-4.166667,0.749625,-0.160456,0.091333,2.383354,1.355932,...,2.468085,-1.345895,1.440678,0.000000,-1.633394,-1.322482,0.661626,-0.850340,-0.509915,2023-03-27
723,0.178891,0.517598,-0.217486,2.045455,0.434783,-0.119048,0.160714,1.672919,0.135485,0.836120,...,-1.038206,-0.272851,-0.104428,1.632010,0.000000,-1.030928,-0.093897,-0.343053,0.654897,2023-03-28
724,-0.178571,-0.514933,0.000000,-0.445434,-0.865801,-0.119190,-2.620788,-0.967292,-0.984010,0.995025,...,0.377675,0.683995,-0.501777,-5.635811,-1.660517,-1.041667,-1.691729,0.344234,-0.141443,2023-03-29
725,1.073345,0.207039,-0.784656,-0.671141,-0.873362,0.238663,-2.526547,-0.191320,3.105590,-0.164204,...,-0.710702,-0.543478,0.399244,-0.919842,0.375235,4.842105,1.912046,2.915952,0.538244,2023-03-30
726,-0.884956,0.206612,1.230228,0.225225,0.881057,0.133929,-0.488355,-0.686037,-0.722892,0.000000,...,5.768421,0.956284,0.104646,5.039788,0.186916,3.012048,-0.656660,-1.333333,2.620456,2023-03-31

In [97]:
df_cleaned_d_bl=df_cleaned_bl.drop(columns=['time'])

In [98]:
columns_list_bl = df_cleaned_d_bl.columns.tolist()

In [99]:
weights = [1/len(columns_list_bl)] * len(columns_list_bl)

# Tính tỷ suất sinh lợi bình quân của danh mục
df_cleaned_bl['BL'] = df_cleaned_d_bl.dot(weights)
df_cleaned_bl

C:\Users\Windows\AppData\Local\Temp\ipykernel_15356\2385440191.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_bl['BL'] = df_cleaned_d_bl.dot(weights)

,return_AGG,return_BVH,return_CHP,return_CKG,return_DCL,return_FPT,return_FRT,return_GAS,return_HBC,return_KDC,...,return_TDM,return_TLG,return_TVS,return_VHC,return_VHM,return_VJC,return_VRE,return_VSH,time,BL
1,0.000000,3.418414,0.000000,0.563910,-0.487805,0.787402,0.000000,0.268223,2.670623,1.187264,...,0.975081,0.883652,-1.875000,2.001357,0.000000,-1.011804,-0.785855,0.654879,2020-05-12,0.996804
2,-0.343446,1.410313,0.539291,0.000000,-0.490196,6.212798,6.887299,-1.085759,7.080925,3.680000,...,0.912017,1.897810,-0.955414,-2.095111,-2.859779,-2.129472,-2.970297,0.000000,2020-05-13,0.597069
3,0.000000,-1.586267,0.000000,-1.308411,5.665025,-1.330998,3.514644,-1.240853,2.564103,0.000000,...,-0.212653,-1.002865,0.964630,-1.834239,-1.120608,-0.783290,-1.836735,-1.951854,2020-05-14,-0.075606
4,0.172315,-2.914551,0.000000,0.568182,-1.165501,-1.419950,-4.042037,-0.837629,-3.815789,0.462963,...,-1.917954,-3.509407,0.000000,0.761246,1.402228,0.000000,0.207900,0.000000,2020-05-15,-1.161867
5,0.000000,1.137139,3.065134,0.000000,-2.594340,0.756212,0.673968,3.654971,1.367989,6.861239,...,-0.706138,-1.199850,-1.433121,0.000000,0.435689,0.000000,1.867220,0.265428,2020-05-18,0.833601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.359066,-0.103413,1.456311,-0.900901,-4.166667,0.749625,-0.160456,0.091333,2.383354,1.355932,...,-1.345895,1.440678,0.000000,-1.633394,-1.322482,0.661626,-0.850340,-0.509915,2023-03-27,-0.018505
723,0.178891,0.517598,-0.217486,2.045455,0.434783,-0.119048,0.160714,1.672919,0.135485,0.836120,...,-0.272851,-0.104428,1.632010,0.000000,-1.030928,-0.093897,-0.343053,0.654897,2023-03-28,0.238183
724,-0.178571,-0.514933,0.000000,-0.445434,-0.865801,-0.119190,-2.620788,-0.967292,-0.984010,0.995025,...,0.683995,-0.501777,-5.635811,-1.660517,-1.041667,-1.691729,0.344234,-0.141443,2023-03-29,-0.690405
725,1.073345,0.207039,-0.784656,-0.671141,-0.873362,0.238663,-2.526547,-0.191320,3.105590,-0.164204,...,-0.543478,0.399244,-0.919842,0.375235,4.842105,1.912046,2.915952,0.538244,2023-03-30,0.480243
726,-0.884956,0.206612,1.230228,0.225225,0.881057,0.133929,-0.488355,-0.686037,-0.722892,0.000000,...,0.956284,0.104646,5.039788,0.186916,3.012048,-0.656660,-1.333333,2.620456,2023-03-31,0.697497

In [101]:
BL=df_cleaned_bl[['time','BL']]

In [102]:
dataframes = {}
for i in bm:
    dataframes[i] = stock_historical_data(symbol=i, start_date="2020-05-11", end_date='2023-03-31')  # Điều chỉnh ngày tùy ý

# Tính tỷ suất sinh lợi hàng ngày cho từng cổ phiếu
for i, df in dataframes.items():
    df[f'return_{i}'] = df['close'].pct_change()*100

# Kết hợp dữ liệu tỷ suất sinh lợi hàng ngày của tất cả cổ phiếu vào một dataframe
combined_df_bm = pd.concat([df[f'return_{i}'] for i, df in dataframes.items()], axis=1)

In [103]:
combined_df_bm

,return_ADS,return_BIC,return_BSI,return_CMX,return_DBC,return_DCM,return_DIG,return_DLG,return_DPG,return_DPM,...,return_PGV,return_PTB,return_PVD,return_PVP,return_RAL,return_SBT,return_SC5,return_TMT,return_VDS,return_VNG
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.103250,0.000000,-0.147710,6.934307,4.429861,6.880000,2.635046,0.000000,3.364064,6.566200,...,-1.577909,1.884887,1.403061,0.000000,-0.600655,-1.970443,-6.544997,0.000000,0.000000,0.364964
2,1.498127,-0.809909,-1.035503,6.825939,2.278083,2.994012,-1.668806,6.802721,-3.484938,-1.717172,...,-0.901804,-1.222332,1.383648,0.000000,3.058048,3.015075,-5.723906,0.000000,-4.509284,1.090909
3,0.553506,-1.681076,1.195815,4.952077,-1.075269,-2.616279,-0.391645,-0.636943,1.407589,-3.186023,...,0.000000,-2.608696,-2.729529,-1.965602,-1.794598,-1.300813,0.571429,0.000000,0.277778,0.359712
4,-5.871560,0.439668,-0.147710,-6.925419,-5.357143,-2.985075,0.000000,-3.205128,-0.965600,-2.760085,...,2.527806,-3.331044,1.020408,3.508772,1.827393,0.329489,0.000000,-1.848049,6.925208,-0.358423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.367985,-0.190840,NaN,0.864198,0.000000,0.812274,3.515625,1.435407,2.044680,-0.287448,...,NaN,-0.364204,0.000000,NaN,1.696429,0.689655,NaN,-3.989362,2.147651,-3.083700
723,-1.191567,5.162524,NaN,1.958384,0.363636,-0.179051,-2.641509,1.415094,-0.185529,-0.448430,...,NaN,-0.391645,1.246883,NaN,2.395585,-1.065449,NaN,-0.277008,0.131406,2.272727
724,-6.864564,3.636364,NaN,-0.120048,-0.362319,-0.224215,1.550388,-1.395349,-0.706320,0.000000,...,NaN,0.262123,0.246305,NaN,0.000000,-0.384615,NaN,NaN,0.000000,-2.777778
725,-0.398406,-3.859649,NaN,0.480769,1.090909,-0.988764,-1.145038,-0.943396,1.272931,0.128700,...,NaN,4.261438,-1.228501,NaN,-0.943165,-0.308880,NaN,NaN,0.393701,2.628571
726,7.000000,NaN,NaN,-1.076555,-0.719424,-1.044031,3.474903,0.000000,1.219963,-0.867609,...,NaN,3.234704,0.995025,NaN,0.234945,0.309837,NaN,NaN,3.921569,-0.445434

In [104]:
ADS=stock_historical_data(symbol='ADS', start_date="2020-05-11", end_date='2023-03-31')

In [105]:
combined_df_bm['time']=ADS['time']

In [106]:
combined_df_bm= combined_df_bm.iloc[1:]
combined_df_bm

,return_ADS,return_BIC,return_BSI,return_CMX,return_DBC,return_DCM,return_DIG,return_DLG,return_DPG,return_DPM,...,return_PTB,return_PVD,return_PVP,return_RAL,return_SBT,return_SC5,return_TMT,return_VDS,return_VNG,time
1,2.103250,0.000000,-0.147710,6.934307,4.429861,6.880000,2.635046,0.000000,3.364064,6.566200,...,1.884887,1.403061,0.000000,-0.600655,-1.970443,-6.544997,0.000000,0.000000,0.364964,2020-05-12
2,1.498127,-0.809909,-1.035503,6.825939,2.278083,2.994012,-1.668806,6.802721,-3.484938,-1.717172,...,-1.222332,1.383648,0.000000,3.058048,3.015075,-5.723906,0.000000,-4.509284,1.090909,2020-05-13
3,0.553506,-1.681076,1.195815,4.952077,-1.075269,-2.616279,-0.391645,-0.636943,1.407589,-3.186023,...,-2.608696,-2.729529,-1.965602,-1.794598,-1.300813,0.571429,0.000000,0.277778,0.359712,2020-05-14
4,-5.871560,0.439668,-0.147710,-6.925419,-5.357143,-2.985075,0.000000,-3.205128,-0.965600,-2.760085,...,-3.331044,1.020408,3.508772,1.827393,0.329489,0.000000,-1.848049,6.925208,-0.358423,2020-05-15
5,3.508772,-2.140078,-3.402367,-5.641864,6.972929,-1.384615,-0.524246,-0.662252,0.609385,0.218341,...,4.404973,4.166667,0.000000,1.652452,-0.656814,6.534091,6.485356,-5.181347,0.000000,2020-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.367985,-0.190840,NaN,0.864198,0.000000,0.812274,3.515625,1.435407,2.044680,-0.287448,...,-0.364204,0.000000,NaN,1.696429,0.689655,NaN,-3.989362,2.147651,-3.083700,2023-03-27
723,-1.191567,5.162524,NaN,1.958384,0.363636,-0.179051,-2.641509,1.415094,-0.185529,-0.448430,...,-0.391645,1.246883,NaN,2.395585,-1.065449,NaN,-0.277008,0.131406,2.272727,2023-03-28
724,-6.864564,3.636364,NaN,-0.120048,-0.362319,-0.224215,1.550388,-1.395349,-0.706320,0.000000,...,0.262123,0.246305,NaN,0.000000,-0.384615,NaN,NaN,0.000000,-2.777778,2023-03-29
725,-0.398406,-3.859649,NaN,0.480769,1.090909,-0.988764,-1.145038,-0.943396,1.272931,0.128700,...,4.261438,-1.228501,NaN,-0.943165,-0.308880,NaN,NaN,0.393701,2.628571,2023-03-30
726,7.000000,NaN,NaN,-1.076555,-0.719424,-1.044031,3.474903,0.000000,1.219963,-0.867609,...,3.234704,0.995025,NaN,0.234945,0.309837,NaN,NaN,3.921569,-0.445434,2023-03-31

In [107]:
df_cleaned_bm = combined_df_bm.dropna(axis=1, how='any')
df_cleaned_bm

,return_ADS,return_CMX,return_DBC,return_DCM,return_DIG,return_DLG,return_DPG,return_DPM,return_DPR,return_DRC,...,return_IDI,return_PC1,return_PDR,return_PTB,return_PVD,return_RAL,return_SBT,return_VDS,return_VNG,time
1,2.103250,6.934307,4.429861,6.880000,2.635046,0.000000,3.364064,6.566200,0.000000,1.560468,...,2.150538,-0.693069,0.759878,1.884887,1.403061,-0.600655,-1.970443,0.000000,0.364964,2020-05-12
2,1.498127,6.825939,2.278083,2.994012,-1.668806,6.802721,-3.484938,-1.717172,-2.242736,-2.048656,...,5.263158,2.492522,2.413273,-1.222332,1.383648,3.058048,3.015075,-4.509284,1.090909,2020-05-13
3,0.553506,4.952077,-1.075269,-2.616279,-0.391645,-0.636943,1.407589,-3.186023,-0.123843,-1.503268,...,2.750000,-0.583658,2.209131,-2.608696,-2.729529,-1.794598,-1.300813,0.277778,0.359712,2020-05-14
4,-5.871560,-6.925419,-5.357143,-2.985075,0.000000,-3.205128,-0.965600,-2.760085,0.123996,-2.322495,...,-2.676399,1.174168,0.000000,-3.331044,1.020408,1.827393,0.329489,6.925208,-0.358423,2020-05-15
5,3.508772,-5.641864,6.972929,-1.384615,-0.524246,-0.662252,0.609385,0.218341,1.365367,-0.203804,...,1.000000,2.321083,-0.216138,4.404973,4.166667,1.652452,-0.656814,-5.181347,0.000000,2020-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.367985,0.864198,0.000000,0.812274,3.515625,1.435407,2.044680,-0.287448,0.198020,0.437530,...,0.869565,-0.181818,2.032520,-0.364204,0.000000,1.696429,0.689655,2.147651,-3.083700,2023-03-27
723,-1.191567,1.958384,0.363636,-0.179051,-2.641509,1.415094,-0.185529,-0.448430,1.185771,0.726041,...,-0.862069,3.278689,-1.593625,-0.391645,1.246883,2.395585,-1.065449,0.131406,2.272727,2023-03-28
724,-6.864564,-0.120048,-0.362319,-0.224215,1.550388,-1.395349,-0.706320,0.000000,-1.171875,-1.826045,...,-2.173913,0.881834,-0.404858,0.262123,0.246305,0.000000,-0.384615,0.000000,-2.777778,2023-03-29
725,-0.398406,0.480769,1.090909,-0.988764,-1.145038,-0.943396,1.272931,0.128700,0.592885,0.244738,...,0.000000,-0.874126,0.406504,4.261438,-1.228501,-0.943165,-0.308880,0.393701,2.628571,2023-03-30
726,7.000000,-1.076555,-0.719424,-1.044031,3.474903,0.000000,1.219963,-0.867609,-0.196464,0.439453,...,-0.444444,0.000000,0.404858,3.234704,0.995025,0.234945,0.309837,3.921569,-0.445434,2023-03-31

In [108]:
df_cleaned_d_bm=df_cleaned_bm.drop(columns=['time'])

In [109]:
columns_list_bm = df_cleaned_d_bm.columns.tolist()

In [110]:
weights = [1/len(columns_list_bm)] * len(columns_list_bm)

# Tính tỷ suất sinh lợi bình quân của danh mục
df_cleaned_bm['BM'] = df_cleaned_d_bm.dot(weights)
df_cleaned_bm

C:\Users\Windows\AppData\Local\Temp\ipykernel_15356\303470224.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_bm['BM'] = df_cleaned_d_bm.dot(weights)

,return_ADS,return_CMX,return_DBC,return_DCM,return_DIG,return_DLG,return_DPG,return_DPM,return_DPR,return_DRC,...,return_PC1,return_PDR,return_PTB,return_PVD,return_RAL,return_SBT,return_VDS,return_VNG,time,BM
1,2.103250,6.934307,4.429861,6.880000,2.635046,0.000000,3.364064,6.566200,0.000000,1.560468,...,-0.693069,0.759878,1.884887,1.403061,-0.600655,-1.970443,0.000000,0.364964,2020-05-12,1.652635
2,1.498127,6.825939,2.278083,2.994012,-1.668806,6.802721,-3.484938,-1.717172,-2.242736,-2.048656,...,2.492522,2.413273,-1.222332,1.383648,3.058048,3.015075,-4.509284,1.090909,2020-05-13,1.604448
3,0.553506,4.952077,-1.075269,-2.616279,-0.391645,-0.636943,1.407589,-3.186023,-0.123843,-1.503268,...,-0.583658,2.209131,-2.608696,-2.729529,-1.794598,-1.300813,0.277778,0.359712,2020-05-14,0.074074
4,-5.871560,-6.925419,-5.357143,-2.985075,0.000000,-3.205128,-0.965600,-2.760085,0.123996,-2.322495,...,1.174168,0.000000,-3.331044,1.020408,1.827393,0.329489,6.925208,-0.358423,2020-05-15,-1.505734
5,3.508772,-5.641864,6.972929,-1.384615,-0.524246,-0.662252,0.609385,0.218341,1.365367,-0.203804,...,2.321083,-0.216138,4.404973,4.166667,1.652452,-0.656814,-5.181347,0.000000,2020-05-18,1.062961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.367985,0.864198,0.000000,0.812274,3.515625,1.435407,2.044680,-0.287448,0.198020,0.437530,...,-0.181818,2.032520,-0.364204,0.000000,1.696429,0.689655,2.147651,-3.083700,2023-03-27,1.084915
723,-1.191567,1.958384,0.363636,-0.179051,-2.641509,1.415094,-0.185529,-0.448430,1.185771,0.726041,...,3.278689,-1.593625,-0.391645,1.246883,2.395585,-1.065449,0.131406,2.272727,2023-03-28,0.301857
724,-6.864564,-0.120048,-0.362319,-0.224215,1.550388,-1.395349,-0.706320,0.000000,-1.171875,-1.826045,...,0.881834,-0.404858,0.262123,0.246305,0.000000,-0.384615,0.000000,-2.777778,2023-03-29,-0.609105
725,-0.398406,0.480769,1.090909,-0.988764,-1.145038,-0.943396,1.272931,0.128700,0.592885,0.244738,...,-0.874126,0.406504,4.261438,-1.228501,-0.943165,-0.308880,0.393701,2.628571,2023-03-30,0.185493
726,7.000000,-1.076555,-0.719424,-1.044031,3.474903,0.000000,1.219963,-0.867609,-0.196464,0.439453,...,0.000000,0.404858,3.234704,0.995025,0.234945,0.309837,3.921569,-0.445434,2023-03-31,0.625021

In [111]:
BM=df_cleaned_bm[['time','BM']]

In [112]:
dataframes = {}
for i in bh:
    dataframes[i] = stock_historical_data(symbol=i, start_date="2020-05-11", end_date='2023-03-31')  # Điều chỉnh ngày tùy ý

# Tính tỷ suất sinh lợi hàng ngày cho từng cổ phiếu
for i, df in dataframes.items():
    df[f'return_{i}'] = df['close'].pct_change()*100

# Kết hợp dữ liệu tỷ suất sinh lợi hàng ngày của tất cả cổ phiếu vào một dataframe
combined_df_bh = pd.concat([df[f'return_{i}'] for i, df in dataframes.items()], axis=1)

In [113]:
combined_df_bh

,return_ASP,return_DRH,return_DXS,return_EVG,return_FCN,return_FIT,return_HHS,return_HII,return_HPX,return_ITC,...,return_KHP,return_LCG,return_LDG,return_NKG,return_PSH,return_QCG,return_SAM,return_SCR,return_TNA,return_VIX
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.936768,4.972950,3.445268,-0.840336,1.353014,-1.446655,0.651466,0.000000,-0.186631,0.000000,...,4.858300,-0.872093,4.526749,2.974828,6.748466,0.000000,0.481928,0.947867,5.202472,-1.734104
2,4.728132,-0.773043,-6.661046,0.423729,0.364078,-0.550459,1.294498,0.000000,0.373961,0.700000,...,-3.667954,1.759531,2.952756,6.222222,6.844305,0.628931,-2.398082,0.704225,-1.543183,-2.352941
3,2.031603,-6.911706,0.000000,0.000000,-0.846433,5.719557,1.277955,0.000000,0.372567,-1.489573,...,5.811623,6.340058,-2.103250,-0.418410,6.845966,2.250000,1.965602,0.932401,-0.632291,4.216867
4,-0.442478,-3.476395,4.607046,6.208559,-1.463415,0.000000,-4.416404,-0.405405,0.185592,0.000000,...,-4.166667,1.355014,-4.492188,-3.361345,6.864989,-2.567237,0.000000,0.000000,-0.941029,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.552486,1.405622,NaN,1.223242,3.070175,0.248139,0.263852,0.737101,1.225490,1.315789,...,-0.634518,1.181435,2.619048,2.839117,NaN,1.542416,0.346021,0.600601,-0.508475,NaN
723,-1.098901,1.782178,NaN,-1.208459,-1.702128,0.470297,2.105263,1.219512,0.968523,1.298701,...,0.893997,0.750626,-0.232019,-1.226994,NaN,0.759494,1.896552,0.149254,0.511073,NaN
724,0.000000,-1.750973,NaN,-0.305810,0.000000,-0.985464,-0.257732,-1.204819,-1.678657,-1.282051,...,0.126582,0.413907,-0.232558,1.552795,NaN,-0.502513,-0.846024,-0.596125,0.000000,NaN
725,2.222222,-1.782178,NaN,0.306748,0.432900,-0.223936,0.516796,0.975610,0.000000,7.402597,...,0.000000,0.000000,-0.233100,-3.363914,NaN,-1.262626,0.170648,0.449775,-1.694915,NaN
726,0.543478,-2.217742,NaN,-1.223242,-1.724138,-0.249377,-1.542416,-1.449275,-0.243902,0.967352,...,3.413401,-1.154163,0.233645,-2.531646,NaN,1.023018,-1.362862,1.343284,1.034483,NaN

In [114]:
ASP=stock_historical_data(symbol='ASP', start_date="2020-05-11", end_date='2023-03-31')

In [115]:
combined_df_bh['time']=ASP['time']

In [116]:
combined_df_bh= combined_df_bh.iloc[1:]
combined_df_bh

,return_ASP,return_DRH,return_DXS,return_EVG,return_FCN,return_FIT,return_HHS,return_HII,return_HPX,return_ITC,...,return_LCG,return_LDG,return_NKG,return_PSH,return_QCG,return_SAM,return_SCR,return_TNA,return_VIX,time
1,-0.936768,4.972950,3.445268,-0.840336,1.353014,-1.446655,0.651466,0.000000,-0.186631,0.000000,...,-0.872093,4.526749,2.974828,6.748466,0.000000,0.481928,0.947867,5.202472,-1.734104,2020-05-12
2,4.728132,-0.773043,-6.661046,0.423729,0.364078,-0.550459,1.294498,0.000000,0.373961,0.700000,...,1.759531,2.952756,6.222222,6.844305,0.628931,-2.398082,0.704225,-1.543183,-2.352941,2020-05-13
3,2.031603,-6.911706,0.000000,0.000000,-0.846433,5.719557,1.277955,0.000000,0.372567,-1.489573,...,6.340058,-2.103250,-0.418410,6.845966,2.250000,1.965602,0.932401,-0.632291,4.216867,2020-05-14
4,-0.442478,-3.476395,4.607046,6.208559,-1.463415,0.000000,-4.416404,-0.405405,0.185592,0.000000,...,1.355014,-4.492188,-3.361345,6.864989,-2.567237,0.000000,0.000000,-0.941029,0.000000,2020-05-15
5,-1.777778,6.847488,2.720207,0.794552,0.000000,0.000000,-1.320132,0.407056,-0.555745,0.000000,...,-1.336898,1.226994,3.695652,-4.839400,-2.760351,-0.481928,0.461894,0.000000,0.000000,2020-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.552486,1.405622,NaN,1.223242,3.070175,0.248139,0.263852,0.737101,1.225490,1.315789,...,1.181435,2.619048,2.839117,NaN,1.542416,0.346021,0.600601,-0.508475,NaN,2023-03-27
723,-1.098901,1.782178,NaN,-1.208459,-1.702128,0.470297,2.105263,1.219512,0.968523,1.298701,...,0.750626,-0.232019,-1.226994,NaN,0.759494,1.896552,0.149254,0.511073,NaN,2023-03-28
724,0.000000,-1.750973,NaN,-0.305810,0.000000,-0.985464,-0.257732,-1.204819,-1.678657,-1.282051,...,0.413907,-0.232558,1.552795,NaN,-0.502513,-0.846024,-0.596125,0.000000,NaN,2023-03-29
725,2.222222,-1.782178,NaN,0.306748,0.432900,-0.223936,0.516796,0.975610,0.000000,7.402597,...,0.000000,-0.233100,-3.363914,NaN,-1.262626,0.170648,0.449775,-1.694915,NaN,2023-03-30
726,0.543478,-2.217742,NaN,-1.223242,-1.724138,-0.249377,-1.542416,-1.449275,-0.243902,0.967352,...,-1.154163,0.233645,-2.531646,NaN,1.023018,-1.362862,1.343284,1.034483,NaN,2023-03-31

In [117]:
df_cleaned_bh = combined_df_bh.dropna(axis=1, how='any')
df_cleaned_bh

,return_ASP,return_DRH,return_EVG,return_FCN,return_FIT,return_HHS,return_HII,return_HPX,return_ITC,return_KHP,return_LCG,return_LDG,return_NKG,return_QCG,return_SAM,return_SCR,return_TNA,time
1,-0.936768,4.972950,-0.840336,1.353014,-1.446655,0.651466,0.000000,-0.186631,0.000000,4.858300,-0.872093,4.526749,2.974828,0.000000,0.481928,0.947867,5.202472,2020-05-12
2,4.728132,-0.773043,0.423729,0.364078,-0.550459,1.294498,0.000000,0.373961,0.700000,-3.667954,1.759531,2.952756,6.222222,0.628931,-2.398082,0.704225,-1.543183,2020-05-13
3,2.031603,-6.911706,0.000000,-0.846433,5.719557,1.277955,0.000000,0.372567,-1.489573,5.811623,6.340058,-2.103250,-0.418410,2.250000,1.965602,0.932401,-0.632291,2020-05-14
4,-0.442478,-3.476395,6.208559,-1.463415,0.000000,-4.416404,-0.405405,0.185592,0.000000,-4.166667,1.355014,-4.492188,-3.361345,-2.567237,0.000000,0.000000,-0.941029,2020-05-15
5,-1.777778,6.847488,0.794552,0.000000,0.000000,-1.320132,0.407056,-0.555745,0.000000,-2.371542,-1.336898,1.226994,3.695652,-2.760351,-0.481928,0.461894,0.000000,2020-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.552486,1.405622,1.223242,3.070175,0.248139,0.263852,0.737101,1.225490,1.315789,-0.634518,1.181435,2.619048,2.839117,1.542416,0.346021,0.600601,-0.508475,2023-03-27
723,-1.098901,1.782178,-1.208459,-1.702128,0.470297,2.105263,1.219512,0.968523,1.298701,0.893997,0.750626,-0.232019,-1.226994,0.759494,1.896552,0.149254,0.511073,2023-03-28
724,0.000000,-1.750973,-0.305810,0.000000,-0.985464,-0.257732,-1.204819,-1.678657,-1.282051,0.126582,0.413907,-0.232558,1.552795,-0.502513,-0.846024,-0.596125,0.000000,2023-03-29
725,2.222222,-1.782178,0.306748,0.432900,-0.223936,0.516796,0.975610,0.000000,7.402597,0.000000,0.000000,-0.233100,-3.363914,-1.262626,0.170648,0.449775,-1.694915,2023-03-30
726,0.543478,-2.217742,-1.223242,-1.724138,-0.249377,-1.542416,-1.449275,-0.243902,0.967352,3.413401,-1.154163,0.233645,-2.531646,1.023018,-1.362862,1.343284,1.034483,2023-03-31

In [118]:
df_cleaned_d_bh=df_cleaned_bh.drop(columns=['time'])

In [119]:
columns_list_bh = df_cleaned_d_bh.columns.tolist()

In [120]:
weights = [1/len(columns_list_bh)] * len(columns_list_bh)

# Tính tỷ suất sinh lợi bình quân của danh mục
df_cleaned_bh['BH'] = df_cleaned_d_bh.dot(weights)
df_cleaned_bh

C:\Users\Windows\AppData\Local\Temp\ipykernel_15356\3241311234.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_bh['BH'] = df_cleaned_d_bh.dot(weights)

,return_ASP,return_DRH,return_EVG,return_FCN,return_FIT,return_HHS,return_HII,return_HPX,return_ITC,return_KHP,return_LCG,return_LDG,return_NKG,return_QCG,return_SAM,return_SCR,return_TNA,time,BH
1,-0.936768,4.972950,-0.840336,1.353014,-1.446655,0.651466,0.000000,-0.186631,0.000000,4.858300,-0.872093,4.526749,2.974828,0.000000,0.481928,0.947867,5.202472,2020-05-12,1.275711
2,4.728132,-0.773043,0.423729,0.364078,-0.550459,1.294498,0.000000,0.373961,0.700000,-3.667954,1.759531,2.952756,6.222222,0.628931,-2.398082,0.704225,-1.543183,2020-05-13,0.659961
3,2.031603,-6.911706,0.000000,-0.846433,5.719557,1.277955,0.000000,0.372567,-1.489573,5.811623,6.340058,-2.103250,-0.418410,2.250000,1.965602,0.932401,-0.632291,2020-05-14,0.841159
4,-0.442478,-3.476395,6.208559,-1.463415,0.000000,-4.416404,-0.405405,0.185592,0.000000,-4.166667,1.355014,-4.492188,-3.361345,-2.567237,0.000000,0.000000,-0.941029,2020-05-15,-1.057847
5,-1.777778,6.847488,0.794552,0.000000,0.000000,-1.320132,0.407056,-0.555745,0.000000,-2.371542,-1.336898,1.226994,3.695652,-2.760351,-0.481928,0.461894,0.000000,2020-05-18,0.166427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,0.552486,1.405622,1.223242,3.070175,0.248139,0.263852,0.737101,1.225490,1.315789,-0.634518,1.181435,2.619048,2.839117,1.542416,0.346021,0.600601,-0.508475,2023-03-27,1.060444
723,-1.098901,1.782178,-1.208459,-1.702128,0.470297,2.105263,1.219512,0.968523,1.298701,0.893997,0.750626,-0.232019,-1.226994,0.759494,1.896552,0.149254,0.511073,2023-03-28,0.431586
724,0.000000,-1.750973,-0.305810,0.000000,-0.985464,-0.257732,-1.204819,-1.678657,-1.282051,0.126582,0.413907,-0.232558,1.552795,-0.502513,-0.846024,-0.596125,0.000000,2023-03-29,-0.444085
725,2.222222,-1.782178,0.306748,0.432900,-0.223936,0.516796,0.975610,0.000000,7.402597,0.000000,0.000000,-0.233100,-3.363914,-1.262626,0.170648,0.449775,-1.694915,2023-03-30,0.230390
726,0.543478,-2.217742,-1.223242,-1.724138,-0.249377,-1.542416,-1.449275,-0.243902,0.967352,3.413401,-1.154163,0.233645,-2.531646,1.023018,-1.362862,1.343284,1.034483,2023-03-31,-0.302359

In [121]:
BH=df_cleaned_bh[['time','BH']]

In [122]:
df_merged = SL.merge(SM, on='time', how='left')
df_merged

           time        SL        SM
0    2020-05-13  0.223594 -0.025539
1    2020-05-14 -0.346483 -0.193099
2    2020-05-15  0.023434  0.073553
3    2020-05-18  0.106196 -0.499982
4    2020-05-19 -0.058533  0.181871
..          ...       ...       ...
722  2023-03-27  0.819914  0.182559
723  2023-03-28  0.664382  0.130563
724  2023-03-29 -0.959767  0.104739
725  2023-03-30  0.877335  0.258210
726  2023-03-31 -0.532069  0.145178

[727 rows x 3 columns]

In [123]:
df_merged = df_merged.merge(SH, on='time', how='left')
df_merged

           time        SL        SM        SH
0    2020-05-13  0.223594 -0.025539  0.293941
1    2020-05-14 -0.346483 -0.193099  0.191739
2    2020-05-15  0.023434  0.073553 -0.914168
3    2020-05-18  0.106196 -0.499982  1.888415
4    2020-05-19 -0.058533  0.181871  1.013808
..          ...       ...       ...       ...
726  2023-03-27  0.819914  0.182559  0.072214
727  2023-03-28  0.664382  0.130563  1.231666
728  2023-03-29 -0.959767  0.104739  0.022006
729  2023-03-30  0.877335  0.258210  0.135762
730  2023-03-31 -0.532069  0.145178  0.172089

[731 rows x 4 columns]

In [124]:
df_merged = df_merged.merge(BL, on='time', how='left')
df_merged

           time        SL        SM        SH        BL
0    2020-05-13  0.223594 -0.025539  0.293941  0.597069
1    2020-05-14 -0.346483 -0.193099  0.191739 -0.075606
2    2020-05-15  0.023434  0.073553 -0.914168 -1.161867
3    2020-05-18  0.106196 -0.499982  1.888415  0.833601
4    2020-05-19 -0.058533  0.181871  1.013808  1.178432
..          ...       ...       ...       ...       ...
734  2023-03-27  0.819914  0.182559  0.072214 -0.018505
735  2023-03-28  0.664382  0.130563  1.231666  0.238183
736  2023-03-29 -0.959767  0.104739  0.022006 -0.690405
737  2023-03-30  0.877335  0.258210  0.135762  0.480243
738  2023-03-31 -0.532069  0.145178  0.172089  0.697497

[739 rows x 5 columns]

In [125]:
df_merged = df_merged.merge(BM, on='time', how='left')
df_merged

           time        SL        SM        SH        BL        BM
0    2020-05-13  0.223594 -0.025539  0.293941  0.597069  1.604448
1    2020-05-14 -0.346483 -0.193099  0.191739 -0.075606  0.074074
2    2020-05-15  0.023434  0.073553 -0.914168 -1.161867 -1.505734
3    2020-05-18  0.106196 -0.499982  1.888415  0.833601  1.062961
4    2020-05-19 -0.058533  0.181871  1.013808  1.178432  1.011933
..          ...       ...       ...       ...       ...       ...
750  2023-03-27  0.819914  0.182559  0.072214 -0.018505  1.084915
751  2023-03-28  0.664382  0.130563  1.231666  0.238183  0.301857
752  2023-03-29 -0.959767  0.104739  0.022006 -0.690405 -0.609105
753  2023-03-30  0.877335  0.258210  0.135762  0.480243  0.185493
754  2023-03-31 -0.532069  0.145178  0.172089  0.697497  0.625021

[755 rows x 6 columns]

In [126]:
df_merged = df_merged.merge(BH, on='time', how='left')
df_merged

           time        SL        SM        SH        BL        BM        BH
0    2020-05-13  0.223594 -0.025539  0.293941  0.597069  1.604448  0.659961
1    2020-05-14 -0.346483 -0.193099  0.191739 -0.075606  0.074074  0.841159
2    2020-05-15  0.023434  0.073553 -0.914168 -1.161867 -1.505734 -1.057847
3    2020-05-18  0.106196 -0.499982  1.888415  0.833601  1.062961  0.166427
4    2020-05-19 -0.058533  0.181871  1.013808  1.178432  1.011933  0.000408
..          ...       ...       ...       ...       ...       ...       ...
782  2023-03-27  0.819914  0.182559  0.072214 -0.018505  1.084915  1.060444
783  2023-03-28  0.664382  0.130563  1.231666  0.238183  0.301857  0.431586
784  2023-03-29 -0.959767  0.104739  0.022006 -0.690405 -0.609105 -0.444085
785  2023-03-30  0.877335  0.258210  0.135762  0.480243  0.185493  0.230390
786  2023-03-31 -0.532069  0.145178  0.172089  0.697497  0.625021 -0.302359

[787 rows x 7 columns]

In [127]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 787 entries, 0 to 786
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    787 non-null    object
 1   SL      787 non-null    float64
 2   SM      787 non-null    float64
 3   SH      787 non-null    float64
 4   BL      787 non-null    float64
 5   BM      787 non-null    float64
 6   BH      787 non-null    float64
dtypes: float64(6), object(1)
memory usage: 49.2+ KB

In [129]:
df_merged['SMB']=(df_merged['SL']+df_merged['SM']+df_merged['SH'])/3-(df_merged['BL']+df_merged['BM']+df_merged['BH'])/3

In [130]:
df_merged['HML']=(df_merged['SH']+df_merged['BH'])/2-(df_merged['SL']+df_merged['BL'])/2

In [128]:
rawdf=pd.read_excel('rawdata.xlsx')
rawdf

,Unnamed: 0,time,open,high,low,close,volume,ticker,return,id,return_vni,new_cases,Quarter,Year
0,85,2020-05-13,10219,10299,9976,10138,1867670,AAA,-1.179452,AAA,0.709862,0,2,2020
1,87,2020-05-15,10098,10178,9855,9936,1880670,AAA,-1.203142,AAA,-0.860695,0,2,2020
2,88,2020-05-18,9936,10057,9855,9976,1419020,AAA,0.402576,AAA,-0.459475,2,2,2020
3,89,2020-05-19,10098,10178,9896,9936,2221530,AAA,-0.400962,AAA,2.756216,4,2,2020
4,90,2020-05-20,9936,10178,9936,10138,3120320,AAA,2.033011,AAA,0.536694,0,2,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249564,291027,2023-03-27,9830,10350,9500,9500,49500,YEG,-4.809619,YEG,0.521595,7,1,2023
249565,291028,2023-03-28,9900,10100,9900,10100,8000,YEG,6.315789,YEG,0.193870,10,1,2023
249566,291029,2023-03-29,9910,9910,9900,9900,7100,YEG,-1.980198,YEG,0.193495,16,1,2023
249567,291030,2023-03-30,10100,10100,9920,9920,18800,YEG,0.202020,YEG,0.294416,19,1,2023
249568,291031,2023-03-31,9910,10000,9910,10000,1100,YEG,0.806452,YEG,0.490825,30,1,2023

In [132]:
rawdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249569 entries, 0 to 249568
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  249569 non-null  int64
 1   time        249569 non-null  datetime64[ns]
 2   open        249569 non-null  int64
 3   high        249569 non-null  int64
 4   low         249569 non-null  int64
 5   close       249569 non-null  int64
 6   volume      249569 non-null  int64
 7   ticker      249569 non-null  object
 8   return      249569 non-null  float64
 9   id          249569 non-null  object
 10  return_vni  249569 non-null  float64
 11  new_cases   249569 non-null  int64
 12  Quarter     249569 non-null  int64
 13  Year        249569 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(9), object(2)
memory usage: 26.7+ MB

In [140]:
filtered_df = rawdf[rawdf['id'].isin(list)]
filtered_df

,Unnamed: 0,time,open,high,low,close,volume,ticker,return,id,return_vni,new_cases,Quarter,Year
695,895,2020-05-13,11000,11000,11000,11000,1100,AAM,0.000000,AAM,0.709862,0,2,2020
696,897,2020-05-15,11290,11290,10440,11190,17390,AAM,0.810811,AAM,-0.860695,0,2,2020
697,898,2020-05-18,11190,11190,10810,10810,310,AAM,-3.395889,AAM,-0.459475,2,2,2020
698,899,2020-05-19,10490,11290,10490,11290,190,AAM,4.440333,AAM,2.756216,4,2,2020
699,900,2020-05-20,11290,11290,10530,11000,8930,AAM,-2.568645,AAM,0.536694,0,2,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247479,288597,2023-03-24,11800,11800,11800,11800,2000,VTB,0.000000,VTB,0.161803,12,1,2023
247480,288598,2023-03-28,12000,12000,12000,12000,200,VTB,1.694915,VTB,0.193870,10,1,2023
247481,288599,2023-03-29,12600,12600,12600,12600,100,VTB,5.000000,VTB,0.193495,16,1,2023
247482,288600,2023-03-30,11800,11800,11800,11800,200,VTB,-6.349206,VTB,0.294416,19,1,2023
247483,288601,2023-03-31,11800,11800,11800,11800,100,VTB,0.000000,VTB,0.490825,30,1,2023

In [135]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 787 entries, 0 to 786
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    787 non-null    datetime64[ns]
 1   SL      787 non-null    float64
 2   SM      787 non-null    float64
 3   SH      787 non-null    float64
 4   BL      787 non-null    float64
 5   BM      787 non-null    float64
 6   BH      787 non-null    float64
 7   SMB     787 non-null    float64
 8   HML     787 non-null    float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 61.5 KB

In [134]:
df_merged['time']=pd.to_datetime(df_merged['time'])

In [141]:
df_result=filtered_df.merge(df_merged, on='time', how='left')
df_result

,Unnamed: 0,time,open,high,low,close,volume,ticker,return,id,...,Quarter,Year,SL,SM,SH,BL,BM,BH,SMB,HML
0,895,2020-05-13,11000,11000,11000,11000,1100,AAM,0.000000,AAM,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.066620
1,897,2020-05-15,11290,11290,10440,11190,17390,AAM,0.810811,AAM,...,2,2020,0.023434,0.073553,-0.914168,-1.161867,-1.505734,-1.057847,0.969422,-0.416791
2,898,2020-05-18,11190,11190,10810,10810,310,AAM,-3.395889,AAM,...,2,2020,0.106196,-0.499982,1.888415,0.833601,1.062961,0.166427,-0.189454,0.557522
3,899,2020-05-19,10490,11290,10490,11290,190,AAM,4.440333,AAM,...,2,2020,-0.058533,0.181871,1.013808,1.178432,1.011933,0.000408,-0.351209,-0.052841
4,900,2020-05-20,11290,11290,10530,11000,8930,AAM,-2.568645,AAM,...,2,2020,0.551030,-0.707296,0.047475,1.638214,0.232278,0.569361,-0.849548,-0.786204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136279,288597,2023-03-24,11800,11800,11800,11800,2000,VTB,0.000000,VTB,...,1,2023,-0.078402,1.456928,0.520707,0.283953,0.906843,1.254450,-0.182004,0.784803
136280,288598,2023-03-28,12000,12000,12000,12000,200,VTB,1.694915,VTB,...,1,2023,0.664382,0.130563,1.231666,0.238183,0.301857,0.431586,0.351661,0.380344
136281,288599,2023-03-29,12600,12600,12600,12600,100,VTB,5.000000,VTB,...,1,2023,-0.959767,0.104739,0.022006,-0.690405,-0.609105,-0.444085,0.303524,0.614046
136282,288600,2023-03-30,11800,11800,11800,11800,200,VTB,-6.349206,VTB,...,1,2023,0.877335,0.258210,0.135762,0.480243,0.185493,0.230390,0.125060,-0.495713
136283,288601,2023-03-31,11800,11800,11800,11800,100,VTB,0.000000,VTB,...,1,2023,-0.532069,0.145178,0.172089,0.697497,0.625021,-0.302359,-0.411654,-0.147849

In [144]:
df_result[df_result['time']=='2020-05-13']

,Unnamed: 0,time,open,high,low,close,volume,ticker,return,id,...,Quarter,Year,SL,SM,SH,BL,BM,BH,SMB,HML
0,895,2020-05-13,11000,11000,11000,11000,1100,AAM,0.000000,AAM,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.06662
820,4334,2020-05-13,5600,5750,5460,5460,9080,ACC,-0.546448,ACC,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.06662
2106,6357,2020-05-13,41260,41650,41100,41410,20700,ADG,0.754258,ADG,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.06662
2916,7852,2020-05-13,5390,5420,5390,5420,2650,ADS,1.498127,ADS,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.06662
3737,8658,2020-05-13,17440,17470,17120,17410,242410,AGG,-0.343446,AGG,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.06662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132495,279989,2020-05-13,12530,12620,12530,12620,3180,VPD,0.718276,VPD,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.06662
133316,284829,2020-05-13,25000,25100,24500,24500,4037060,VRE,-2.970297,VRE,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.06662
134137,286449,2020-05-13,15450,15450,15320,15370,7170,VSH,0.000000,VSH,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.06662
134958,287259,2020-05-13,17300,17300,17300,17300,10,VSI,-0.802752,VSI,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.06662
135507,287921,2020-05-13,8000,8000,7850,7850,1440,VTB,1.029601,VTB,...,2,2020,0.223594,-0.025539,0.293941,0.597069,1.604448,0.659961,-0.789827,0.06662

In [147]:
df_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136284 entries, 0 to 136283
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  136284 non-null  int64
 1   time        136284 non-null  datetime64[ns]
 2   open        136284 non-null  int64
 3   high        136284 non-null  int64
 4   low         136284 non-null  int64
 5   close       136284 non-null  int64
 6   volume      136284 non-null  int64
 7   ticker      136284 non-null  object
 8   return      136284 non-null  float64
 9   id          136284 non-null  object
 10  return_vni  136284 non-null  float64
 11  new_cases   136284 non-null  int64
 12  Quarter     136284 non-null  int64
 13  Year        136284 non-null  int64
 14  SL          136284 non-null  float64
 15  SM          136284 non-null  float64
 16  SH          136284 non-null  float64
 17  BL          136284 non-null  float64
 18  BM          136284 non-null  float64
 19  BH          136284 non-null  float64
 20  SMB         136284 non-null  float64
 21  HML         136284 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(9), object(2)
memory usage: 23.9+ MB

In [148]:
unique_stocks = df_result['id'].unique()
quarters = df_result['Quarter'].unique()
years = df_result['Year'].unique()

In [154]:
from sklearn.linear_model import LinearRegression
list_stock = []
list_year=[]
list_quarter=[]
list_beta_1=[]
for stock in unique_stocks:
    for year in years:
        for quarter in quarters:
            try:
                mask = (df_result['id'] == stock) & (df_result['Quarter'] == quarter) & (df_result['Year'] == year)
                subset_data = df_result[mask].copy()
                y=subset_data['return']
                x=subset_data[['new_cases','return_vni','SMB']]
                model=LinearRegression()
                model.fit(x,y)
                list_stock.append(stock)
                list_year.append(year)
                list_quarter.append(quarter)
                list_beta_1.append(model.coef_[0])     
            except Exception:
                continue

In [156]:
df_beta_1 = pd.DataFrame({
    'id': list_stock,
    'year': list_year,
    'quarter': list_quarter,
    'beta_1': list_beta_1
})
df_beta_1

       id  year  quarter    beta_1
0     AAM  2020        2  0.735863
1     AAM  2020        3 -0.016211
2     AAM  2020        4 -0.071788
3     AAM  2021        2 -0.000940
4     AAM  2021        3 -0.000017
...   ...   ...      ...       ...
2092  VTB  2022        2  0.000016
2093  VTB  2022        3  0.000003
2094  VTB  2022        4 -0.003470
2095  VTB  2022        1  0.000001
2096  VTB  2023        1  0.012995

[2097 rows x 4 columns]

In [157]:
list_stock = []
list_year=[]
list_quarter=[]
list_beta_2=[]
for stock in unique_stocks:
    for year in years:
        for quarter in quarters:
            try:
                mask = (df_result['id'] == stock) & (df_result['Quarter'] == quarter) & (df_result['Year'] == year)
                subset_data = df_result[mask].copy()
                y=subset_data['return']
                x=subset_data[['new_cases','return_vni','SMB','HML']]
                model=LinearRegression()
                model.fit(x,y)
                list_stock.append(stock)
                list_year.append(year)
                list_quarter.append(quarter)
                list_beta_2.append(model.coef_[0])     
            except Exception:
                continue

In [158]:
df_beta_2 = pd.DataFrame({
    'id': list_stock,
    'year': list_year,
    'quarter': list_quarter,
    'beta_2': list_beta_2
})
df_beta_2

       id  year  quarter    beta_2
0     AAM  2020        2  0.719651
1     AAM  2020        3 -0.015188
2     AAM  2020        4 -0.074474
3     AAM  2021        2 -0.000988
4     AAM  2021        3 -0.000031
...   ...   ...      ...       ...
2092  VTB  2022        2  0.000017
2093  VTB  2022        3  0.000003
2094  VTB  2022        4 -0.003470
2095  VTB  2022        1  0.000001
2096  VTB  2023        1  0.018007

[2097 rows x 4 columns]

In [159]:
df_beta_2['beta_1']=df_beta_1['beta_1']
df_beta_2

       id  year  quarter    beta_2    beta_1
0     AAM  2020        2  0.719651  0.735863
1     AAM  2020        3 -0.015188 -0.016211
2     AAM  2020        4 -0.074474 -0.071788
3     AAM  2021        2 -0.000988 -0.000940
4     AAM  2021        3 -0.000031 -0.000017
...   ...   ...      ...       ...       ...
2092  VTB  2022        2  0.000017  0.000016
2093  VTB  2022        3  0.000003  0.000003
2094  VTB  2022        4 -0.003470 -0.003470
2095  VTB  2022        1  0.000001  0.000001
2096  VTB  2023        1  0.018007  0.012995

[2097 rows x 5 columns]

In [160]:
rf=pd.read_excel('filtered_df_beta.xlsx')
rf

      Unnamed: 0   id  year  quarter          beta
0             12  AAM  2020        2  7.465596e-01
1             13  AAM  2020        3 -1.658146e-02
2             14  AAM  2020        4 -1.057245e-01
3             15  AAM  2021        1  1.394406e-02
4             16  AAM  2021        2 -4.756248e-04
...          ...  ...   ...      ...           ...
1977        4203  VTB  2022        1  9.537297e-07
1978        4204  VTB  2022        2  1.474522e-05
1979        4205  VTB  2022        3  3.172932e-06
1980        4206  VTB  2022        4 -3.776129e-04
1981        4207  VTB  2023        1  9.277010e-03

[1982 rows x 5 columns]

In [161]:
result_df_1 = pd.merge(rf, df_beta_2, on=['id', 'year','quarter'])
result_df_1

      Unnamed: 0   id  year  quarter          beta    beta_2    beta_1
0             12  AAM  2020        2  7.465596e-01  0.719651  0.735863
1             13  AAM  2020        3 -1.658146e-02 -0.015188 -0.016211
2             14  AAM  2020        4 -1.057245e-01 -0.074474 -0.071788
3             15  AAM  2021        1  1.394406e-02  0.019763  0.019379
4             16  AAM  2021        2 -4.756248e-04 -0.000988 -0.000940
...          ...  ...   ...      ...           ...       ...       ...
1977        4203  VTB  2022        1  9.537297e-07  0.000001  0.000001
1978        4204  VTB  2022        2  1.474522e-05  0.000017  0.000016
1979        4205  VTB  2022        3  3.172932e-06  0.000003  0.000003
1980        4206  VTB  2022        4 -3.776129e-04 -0.003470 -0.003470
1981        4207  VTB  2023        1  9.277010e-03  0.018007  0.012995

[1982 rows x 7 columns]

In [162]:
result_df_1.to_excel('beta.xlsx')